@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Readex Pro', sans-serif;
}

.App {
	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.landing-heading {
	font-family: 'Lobster', cursive;
	font-size: 6vw;
	text-align: center;
	margin-bottom: 10vw;
}

@media (max-width:1100px){
	.img-landing{
		display: none;
	}
}

/*responsive design for small screens*/
@media (max-width:500px){
	.img-landing{
		display: none;
	}
}

.gradient-custom {
	/* fallback for old browsers */
	background: #f093fb;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
}

.card-registration .select-arrow {
	top: 13px;
}

.btn-pink-moon {
	background: #ec008c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 12px 30px;
	border: none;
	border-radius: 30px;
}

.btn-pink-moon:hover {
	background: #ec008c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-purple-moon {
	background: #4e54c8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 12px 30px;
	border: none;
	border-radius: 30px;
}

.btn-purple-moon:hover {
	background: #4e54c8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.badge {
	position: absolute;
	font-size: .6rem;
	margin-top: -0.1rem;
	margin-left: -0.5rem;
	padding: 0.2em 0.45em;
}

.link {
	text-decoration: none;
	color: purple;
}

footer {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 15px;
	color: grey;
}